# ALiases
alias be='bundle exec'
alias ls='ls -F'
alias v='mvim -n -v -N .'
alias vim='mvim -n -v -N'
alias mvim='mvim -n -N -c "set noballooneval"'
alias :q='logout'
alias curl='curl -s'
alias :q='logout'

# Git related aliases
alias g='git'
alias gst='git status'
alias gl='git pull'
alias gpr='git pull --rebase'
alias gup='git fetch && git rebase'
alias gp='git push'
alias gd='git diff'
alias gdv='git diff -w "$@" | vim -R -'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gb='git branch'
alias gba='git branch -a'
alias gcount='git shortlog -sn'
alias gcp='git cherry-pick'
alias gwc='git whatchanged -p --abbrev-commit --pretty=medium'

# Service aliases
alias mongod='mongod run --config /usr/local/etc/mongod.conf'
alias default-redis-server='cd && redis-server /usr/local/etc/redis.conf'
#alias volatile-redis-server='cd && redis-server /usr/local/etc/volatile-redis.conf

## TV4
alias tv4='cd ~/git/tv4/www.tv4.se/'
alias tv4play='cd ~/git/tv4/tv4play/'
alias aman='cd ~/git/tv4/aman/'
alias api4='cd ~/git/tv4/api4/'
